{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
} //Сделал "Можно лучше", если правильно понял про исключения. Если нет - напишите, пожалуйста. Спасибо за отличные ревью!
